<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <title>Buffalo - VirtuozPlay</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="<%= authenticity_token %>" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;1,700&family=Roboto&display=swap"
    rel="stylesheet">
</head>

<body>
  <div id="app"></div>

  <!-- prettier-ignore -->
  <%= viteClientTag() %>
    <!-- prettier-ignore -->
    <%= viteEntryPointTags("main.ts") %>
  </body>
</html>