@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        height: 100%;
    }

    body {
        @apply text-primary-text;
        background-color: #f8f6f3;
        height: 100%;
        font-family: 'Public Sans', sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #app {
        @apply w-full h-full flex flex-col;
    }
}
